.layout {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 70%;
  box-sizing: border-box;
}
.messenger-box {
  display: flex;
  background-color: rgb(217, 228, 228);
  border-radius: 20px;
  width: 100%;
  padding: 30px;
}
