.header {
  background-color: lightblue;
  border-radius: 20px;
  width: 100%;
  padding: 30px;
  margin-bottom: 15px;
}
.header__link {
  text-decoration: none;
  color: black;
}
.header__list {
  list-style-type: none;
}
